/***
====================================================================
   Basic CSS
====================================================================
***/
/*margin modify molin*/

.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}

/* @font-face {
    font-family: "Kalpurush";
    src: url("http://static.ioritro.com/font/kalpurush.eot");
    src: url("http://static.ioritro.com/font/kalpurush.eot?#iefix")
            format("embedded-opentype"),
        url("http://static.ioritro.com/font/kalpurush.ttf") format("truetype"),
        url("http://static.ioritro.com/font/kalpurush.svg#svgFontName")
            format("svg");
} */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
    color: #666666;
    font-size: 15px;
    background-color: #fff;
    font-family: "Kalpurush", Arial, sans-serif !important;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover,
a:focus {
    color: whitesmoke;
    text-decoration: none;
}
/*a:focus {color: #595959;text-decoration: none;}*/
a img {
    border: none;
}
img {
    max-width: 100%;
}
iframe {
    border: none;
}
/* -------- Headings ---------- */
h1,
.h1 {
    font-size: 3.4rem;
}
h2,
.h2 {
    font-size: 2rem;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}
h1,
h2,
.h1,
.h2 {
    font-family: "SolaimanLipi_Bold_100312", "Open Sans",
        SolaimanLipi_Bold_100312sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333333;
}

h1 small,
h2 small,
.h1 small,
.h2 small,
h1 .small,
h2 .small,
.h1 .small,
.h2 .small {
    font-weight: normal;
    line-height: 1;
    color: #333333;
}

h1 a,
h2 a,
.h1 a,
.h2 a {
    color: #333333;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
    font-family: "SolaimanLipi_Bold_100312", "Open Sans",
        SolaimanLipi_Bold_100312, sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
}

h3 small,
h4 small,
h5 small,
h6 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #333333;
}

h3 a,
h4 a,
h5 a,
h6 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
    color: #333333;
}
/* -------- Body Text ---------- */
p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
    margin-bottom: 10px;
}
/* -------- Custom Font Family ---------- */
.font-opensans {
    font-family: "Open Sans", sans-serif;
}
.font-raleway {
    font-family: "Raleway", sans-serif;
}
.font-titillium {
    font-family: "Titillium Web", sans-serif;
}
/* breadcrumb */
.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}
.breadcrumb > li + li::before {
    content: "\f22d";
    font-family: fontawesome;
    font-size: 9px;
}
.breadcrumb li.active {
    color: #111111;
}
.breadcrumb.white li.active {
    color: #fff;
}
.breadcrumb.white li a {
    color: #808080;
}
@media only screen and (min-width: 768px) {
    .breadcrumb.text-right {
        text-align: right;
    }
}
/*Drop Caps*/
.drop-caps p {
    text-align: justify;
}
.drop-caps p:first-child:first-letter {
    color: #111111;
    display: block;
    float: left;
    font-size: 48px;
    line-height: 48px;
    margin: 6px 3px;
    padding: 10px 18px;
}
.drop-caps.text-colored p:first-child:first-letter {
    display: block;
    float: left;
    font-size: 48px;
    line-height: 48px;
    margin: 6px 3px;
    padding: 10px 18px;
}
.drop-caps.border p:first-child:first-letter {
    border: 1px solid;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}
.drop-caps.border-rounded p:first-child:first-letter {
    border: 1px solid;
    border-radius: 50%;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}
.drop-caps.colored-square p:first-child:first-letter {
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}
.drop-caps.colored-rounded p:first-child:first-letter {
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
    border-radius: 50%;
}
.drop-caps.dark-square p:first-child:first-letter {
    background: #222222;
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
}
.drop-caps.dark-rounded p:first-child:first-letter {
    background: #222222;
    color: #fff;
    margin: 8px 16px 0 0;
    padding: 15px 20px;
    border-radius: 50%;
}
/*Text Highlight*/
.text-highlight {
    background: none repeat scroll 0 0 #111111;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px 3px;
}
.text-highlight.light {
    background: #808080;
}
.text-center {
    text-align: center;
}
.text-coral {
    color: coral;
}
.content-display-box {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25) !important;
}
.album-image-box {
    padding: 15px;
    margin-top: 10px;
}
.light-shadow {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05) !important;
}

/*
 * common.less
 * -----------------------------------------------
*/
/* -------- Basic Structure ---------- */
html {
    font-size: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 991px) {
    html {
        font-size: 90%;
    }
}
@media only screen and (max-width: 767px) {
    html {
        font-size: 85%;
    }
}
@media only screen and (max-width: 479px) {
    html {
        font-size: 80%;
    }
}
html,
html a {
    -webkit-font-smoothing: antialiased;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
/*strong {color: white;}*/
/*strong {color: #555555;}*/
img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fluid-video-wrapper {
    padding: 0;
    position: relative;
    width: 100%;
}
iframe {
    border: none;
    width: 100%;
}
.lead {
    font-size: 18px;
}
.text-highlight {
    background: none repeat scroll 0 0 #111111;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px 3px;
}
.text-highlight.light {
    background: #808080;
}
.inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.fullwidth {
    width: 100%;
}
.bg-hover-theme-colored {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Text-decoration */
.text-underline {
    text-decoration: underline;
}
/* -------- Line-Bottom ---------- */
.heading-line-bottom {
    border-bottom: 1px dashed #808080;
    display: inline-block;
    margin: 0;
    position: relative;
    margin: 20px 0;
}
.heading-line-bottom::after {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 20px;
}
.heading-title {
    margin-top: 10px;
}
.line-bottom {
    position: relative;
}
.line-bottom:after {
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}
.line-bottom-centered {
    position: relative;
    margin: 10px 0 20px;
}
.line-bottom-centered:after {
    background: #2b96cc none repeat scroll 0 0;
    bottom: -8px;
    content: "";
    height: 1px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: absolute;
    right: 0;
    width: 30px;
}
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before {
    font-size: 48px;
    margin-left: 10px;
}
.title-icon {
    margin: 0 auto;
    max-width: 160px;
    position: relative;
}
.title-icon::after {
    content: "";
    height: 2px;
    left: 24px;
    position: absolute;
    top: 10px;
    width: 30px;
}
.title-icon::before {
    content: "";
    height: 2px;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
}
/* -------- List ---------- */

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*ol {list-style: none;margin: 0;padding: 0;}*/
ul ul,
ol ul {
    margin-left: 15px;
}
ul.list {
    list-style: outside none none;
    margin-top: 13px;
    padding-left: 0;
}
ul.list li {
    margin: 5px 0;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
}
ul.list li:before {
    border: none;
    color: #a9a9a9;
    content: "\f111";
    display: inline-block;
    font-family: fontawesome;
    font-size: 9px;
    margin-right: 10px;
    padding: 0;
    left: 0;
    position: absolute;
    top: 1px;
}
ul.list li:hover:before {
    background: none;
    border-color: transparent;
}
ul.list li a {
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/* -------- List White ---------- */
ul.list.list-white li:before {
    color: #fff;
}
ul.list.list-white li:hover:before {
    background: none;
    border-color: transparent;
}
ul.list.list-white li a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
/* -------- List border bottom ---------- */
ul.list-border-bottom li {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}
ul.list.list-border-bottom li:last-child {
    border-bottom: none;
}
ul.list-border-bottom.no-padding li {
    padding-bottom: 0px;
}
ul.list-border-bottom.no-padding li:last-child {
    border-bottom: none;
}
/* -------- List Icons ---------- */
.list-icon li {
    font-size: 14px;
    margin: 0;
}
.list-icon li i {
    color: #555555;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}
.list-icon.square li i {
    background: #c0c0c0;
    color: #555555;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}
.list-icon.rounded li i {
    color: #555555;
    background: #c0c0c0;
    border-radius: 50%;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 5px 10px 5px 0;
    text-align: center;
    width: 28px;
}
.list-icon.theme-colored.square li i {
    color: #fff;
}
.list-icon.theme-colored.rounded li i {
    color: #fff;
}
/* -------- Personal Info List ---------- */
.list-info li {
    clear: both;
    position: relative;
}
.list-info li label {
    display: inline-block;
    font-weight: bold;
    padding: 5px 0 0;
}
.list-info li span {
    left: 110px;
    padding: 5px 0;
    position: absolute;
}
.list-features {
    -moz-column-count: 3;
    column-count: 3;
}
.list-dashed > article {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.list-dashed > div {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.list-dashed > li {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.list-dashed.dark-dash > article {
    border-bottom: 1px dashed #333333;
}
.list-dashed.dark-dash > div {
    border-bottom: 1px dashed #333333;
}
.list-dashed.dark-dash > li {
    border-bottom: 1px dashed #333333;
}
ul.list.check li:before {
    content: "\f00c";
    font-family: fontawesome;
    font-size: 12px;
}
ul.list.angle-double-right li:before {
    content: "\f101";
    font-family: fontawesome;
    font-size: 12px;
}
ul.list.angle-right li:before {
    content: "\f105";
    font-family: fontawesome;
}
ul.list.check-circle li:before {
    content: "\f058";
    font-family: fontawesome;
    font-size: 14px;
}

/***
====================================================================
   Manage ICON
====================================================================
***/
.fa-home {
    font-size: 1.2em !important;
}
.fa-phone {
    font-size: 2.5em !important;
}
.fa-info-circle {
    font-size: 2.5em !important;
}
.fa-envelope {
    font-size: 2.5em !important;
}
/***
====================================================================
   MODEL POPUP
====================================================================
***/
.modal-header {
    padding: 15px;
    border-bottom: none !important;
}
.modal-body {
    position: relative;
    padding-left: 30px !important;
    /* padding-top: 40px !important; */
}
.modal-footer {
    padding-right: 20px;
    padding-bottom: 25px !important;
    text-align: right;
    border-top: none !important;
}
.modal-body a {
    color: white;
    font-size: 1.3em;
}

.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4,
    .col-sm-3,
    .col-sm-5 {
        text-align: center;
        margin: 25px 0;
    }
    .media-center {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
/***
====================================================================
   Call-to-action start
====================================================================
***/
.cs-call-to-action-area {
    padding: 35px 0 15px;
    background: #003849;
}
.cs-call-to-action-area .cs-action-col {
    padding-left: 80px;
    margin-bottom: 30px;
    border-right: 1px solid #af9a7d;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.cs-call-to-action-area .bdr-transpatent {
    border-right: none;
}
.cs-call-to-action-area .cs-action-content {
    position: relative;
    padding-left: 50px;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
}
.cs-call-to-action-area .cs-action-content i {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 24px;
    color: #af9a7d;
}
.cs-call-to-action-area .cs-action-content p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.cs-call-to-action-area .cs-action-content p span {
    color: #af9a7d;
    font-size: 18px;
    font-weight: 500;
}
.cs-call-to-action-area .cs-action-content span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 767px) {
    .cs-call-to-action-area .cs-action-col {
        border-right: none;
        padding-left: 0;
    }
    .cs-call-to-action-area .cs-action-content {
        text-align: center;
        padding-left: 0;
    }
    .cs-call-to-action-area .cs-action-content i {
        position: relative;
        margin-bottom: 20px;
    }
    .cs-call-to-action-area .cs-action-content p {
        margin-top: 20px;
    }
}
/***
====================================================================
    Messages Start
====================================================================
***/
.cs-features-area {
    padding: 50px 0 70px;
}
.cs-features-area.about {
    padding: 0 68px 70px;
}
.cs-features-area .cs-features-col {
    /* margin-bottom: 30px; */
    background: ;
    text-align: center;
    position: relative;
}
.cs-features-col {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #003849;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.cs-features-col:hover {
    background-color: rgba(175, 154, 125, 0.9);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.cs-features-area .cs-features-col .cs-features-content {
    height: 124px;
    left: 0;
    padding: 15px;
    margin-bottom: 1px;
    position: relative;
    top: 0;
    width: 100%;
}
.cs-features-area .cs-features-col .cs-features-content a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
}
.msg-photo {
}
.h2-span {
    color: #018442;
}
.h2-white {
    color: #ffffff;
}
/***
====================================================================
    NEWS & EVENTS
====================================================================
***/
.post-news {
    max-width: 370px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}
.post-news-body {
    padding: 30px;
    border: 1px solid #f8f8f8;
}
.post-news-body a:hover {
    color: black !important;
}
/***
====================================================================
    HTML ELIMENTS
====================================================================
***/
.btn-theme-colored {
    color: #fff;
    background-color: #003849;
    border-color: #003849;
}
.mt-10 {
    margin-top: 10px !important;
}
.btn-lg {
    font-size: 14px;
    padding: 10px 26px;
}
.btn-flat {
    border-radius: 0;
}
/***
====================================================================
    Footer Style css Start
====================================================================
***/
.cs-footer-area {
    width: 100%;
    padding: 80px 0 50px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    border-top: 5px solid rgb(22, 23, 24, 0.8);
    color: whitesmoke;
}
.img-opp {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.cs-footer-col {
    margin-bottom: 30px;
}
.cs-footer-col .cs-footer-logo {
    width: 245px;
    height: 65px;
    margin-bottom: 30px;
}
.cs-footer-col p {
    color: #ffffff;
}
.cs-footer-social {
    margin-top: 20px;
}
.cs-footer-social a i {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cs-footer-social a i:hover {
    color: #af9a7d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cs-footer-col h4 {
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.cs-news-list li {
    color: #ffffff;
    border-bottom: 1px solid #4e4e4e;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.cs-footer-area .cs-footer-contact p span {
    color: #af9a7d;
    font-weight: bold;
}
.cs-footer-contact li {
    margin-bottom: 18px;
}
.cs-flicker-img ul li {
    display: inline-block;
}
.fancybox-skin {
    border-radius: 0px;
}
.cs-flicker-img img:hover {
    opacity: 0.6;
}
.cs-news-list li a {
    color: white;
}
/***
====================================================================
    copyright start
====================================================================
***/
.cs-copyright-area {
    padding: 15px 0;
    background: #490000;
}
.cs-copyright-area p {
    color: #ffffff;
}
.cs-copyright-area a {
    color: #af9a7d;
}
.cs-copyright-area ul li {
    float: left;
    color: #ffffff;
}
.cs-copyright-area ul li a {
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cs-copyright-area ul li a:hover {
    color: #af9a7d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/***
====================================================================
    Contant Details Page Start
====================================================================
/* -------- Parallax ---------- */
.parallax {
    width: 100%; /* height: 100%; */
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: top center;
}
.mobile-parallax {
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}
.divider .container {
    padding-top: 70px;
    padding-bottom: 70px;
}
.divider .container.small-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
.divider .container.extra-padding {
    padding-top: 180px;
    padding-bottom: 180px;
}
.pb-20 {
    padding-bottom: 10px !important;
}
.pt-70 {
    padding-top: 10px !important;
}

.inner-header .title {
    font-size: 3em;
}
.text-white {
    color: #fff !important;
}
.text-black {
    color: #000 !important;
}

.widget .services-list li.active {
    background-color: #003849 !important;
    border-right: 6px solid coral !important;
}
.widget .services-list li.active {
    position: relative;
    border-bottom: 1px solid transparent;
}
.widget .services-list li.active a {
    color: white !important;
}
.widget ul.list li,
.widget .post {
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.widget .services-list li {
    background-color: #eeeeee;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px 10px 20px;
}
.widget .list-border li {
    border-bottom: 1px dashed #d3d3d3;
}
.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
ul.list li {
    margin: 5px 0;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
}
ul.list li::before {
    border: none;
    color: #a9a9a9;
    content: "\f111";
    display: inline-block;
    font-family: fontawesome;
    font-size: 9px;
    margin-right: 10px;
    padding: 0;
    left: 8px;
    position: absolute;
    top: 13px;
}
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.text-theme-color-2,
.widget .twitter-feed li::after,
.work-gallery .gallery-bottom-part .title {
    color: coral;
}

.text-theme-color-3,
.widget .twitter-feed li::after,
.work-gallery .gallery-bottom-part .title {
    color: rgb(26, 85, 161);
}

.icon-box.icon-rounded-bordered i,
.widget .line-bottom::after,
.widget .line-bottom::after,
.pager.theme-colored a {
    border: 1px solid #202c45;
}

/***
====================================================================
    File & Text Content
====================================================================
***/
.rows .ulwrap {
    padding: 0 15px 0 15px;
    overflow: hidden;
}
.rows ul {
    width: 100%;
}
.rows ul li {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    *float: left;
    *width: 99%;
    border-left: 10px solid #003849;
    background: #fff;
    border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
}
.rows ul li .libr {
}
.rows ul li.last {
    margin-bottom: 5px;
}
.rows ul li a {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    padding: 24px 85px 24px 34px;
    position: relative;
    border: 1px solid #cfcfcf;
    border-left: none;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.rows ul li a .title {
    line-height: 31px;
    margin-bottom: 1px;
    font-size: 27px;
    color: #000000;
    text-transform: capitalize;
    text-decoration: none;
}
.rows ul li a .meta-wrap {
    line-height: 17px;
    font-size: 13px;
    color: #000000;
    text-transform: none;
}
.rows ul li a .arrow {
    position: absolute;
    width: 56px;
    height: 56px;
    right: 20px;
    top: 50%;
    margin-top: -28px;
    font-size: 56px;
    line-height: 48px;
    text-indent: 5px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    color: #003849;
    background: #fff;
    border: 1px solid #cfcfcf;
    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
}
.rows ul li:hover {
    border-left: 10px solid coral;
    background: #f3f3f3;
    box-shadow: none;
}
.rows ul li:hover .libr {
}
.rows ul li:hover a .arrow {
    color: #fff;
    background: coral;
    border: 1px solid #f3f3f3;
}
.rows ul li:hover a {
    border-color: #f3f3f3;
}
.rows ul li:hover a .title {
    color: #000000;
    text-decoration: none;
}
.rows ul li:hover a .meta-wrap {
    color: #000000;
}

.section-content > .row > .col-md-12:first-child {
    background-color: rgb(255, 239, 0, 0.31);
    border: 1px solid black;
}

ul.pagination {
    margin-top: 10px;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
}
ul.pagination li {
    display: inline !important;
}
ul.pagination li a {
    color: snow !important;
    float: left !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
    background-color: gray !important;
}
ul.pagination li a:hover:not(.active) {
    background-color: darkgray !important;
    color: black !important;
}
.setPage {
    padding: 7px 5px 5px 5px !important;
}

/*
     FILE ARCHIVED ON 23:11:59 Nov 26, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:37:52 Mar 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 5277.062
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.069
  cdx.remote: 0.054
  esindex: 0.007
  LoadShardBlock: 5193.975 (3)
  PetaboxLoader3.datanode: 223.914 (5)
  CDXLines.iter: 18.533 (3)
  PetaboxLoader3.resolve: 5132.2 (3)
  load_resource: 222.532 (2)
*/
